<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar bg-dark navbar-dark navbar-expand-lg">
  <ul>
    <li>
      <a class="nav-link" th:href="${'/'}" th:text="${'홈(Home)'}"></a></li>      
    <li>
      <a th:href="${'/register'}" onclick="return registerFtn();">고객등록</a></li>    
    <li th:unless="${username}">
      <a class="nav-link" th:href="${'/login'}" th:text="로그인"></a></li>    
    <li >
      <a th:href="${'/design'}">타코설계</a></li>      
    <li th:if="${username}">
      <span th:if="${socialType}" th:text="${' ' + socialType + '-'}">소셜</span>
      <span th:text="${username + ' : '}">유저이름</span>
      <a href="javascript: signOutFtn();">로그아웃</a></li>
  </ul>  
</nav>
<form method="POST" th:action="@{/logout}" name="signOutForm">   
</form>

<script>
  function signOutFtn() {
    document.signOutForm.submit();
  }  
  
  function registerFtn() {
    var username = "[[${username}]]";
    if (username) {
      return confirm("새 고객 등록을 위하여 로그아웃하겠습니까?");
    } else {
      return true;
    }    
  }  
</script>

