<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>타코 구름</title>
  <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
  <h1>나는 타코 요리사</h1>
  <img th:src="@{/images/TacoCloud.png}" />

  <form method="POST" th:object="${taco}">
    <div class="grid">
      <div class="ingredient-group" id="wraps">
        <h3>타코 빵 선택:</h3>
        <div th:each="ingredient : ${wrap}">
          <input th:field="*{ingredients}" type="checkbox"
            th:value="${ingredient.sn}" th:id="${ingredient.id}" />
          <label th:for="${ingredient.id}">
            <span th:text="${ingredient.name}">재료</span></label>
          <br />
        </div>
      </div>

      <div class="ingredient-group" id="proteins">
        <h3>단백질 선택:</h3>
        <div th:each="ingredient : ${protein}">
          <input th:field="*{ingredients}" type="checkbox"
            th:value="${ingredient.sn}" th:id="${ingredient.id}" />
          <label th:for="${ingredient.id}">
            <span th:text="${ingredient.name}">재료</span></label>
          <br />
        </div>
      </div>

      <div class="ingredient-group" id="cheeses">
        <h3>치즈 선택:</h3>
        <div th:each="ingredient : ${cheese}">
          <input th:field="*{ingredients}" type="checkbox"
            th:value="${ingredient.sn}" th:id="${ingredient.id}" />
          <label th:for="${ingredient.id}">
            <span th:text="${ingredient.name}">재료</span></label>
          <br />
        </div>
      </div>

      <div class="ingredient-group" id="veggies">
        <h3>야채 선택:</h3>
        <div th:each="ingredient : ${veggies}">
          <input th:field="*{ingredients}" type="checkbox"
            th:value="${ingredient.sn}" th:id="${ingredient.id}" />
          <label th:for="${ingredient.id}">
            <span th:text="${ingredient.name}">재료</span></label>
          <br />
        </div>
      </div>

      <div class="ingredient-group" id="sauces">
        <h3>소스 선택:</h3>
        <div th:each="ingredient : ${sauce}">
          <input th:field="*{ingredients}" type="checkbox"
            th:value="${ingredient.sn}" th:id="${ingredient.id}" />
          <label th:for="${ingredient.id}">
            <span th:text="${ingredient.name}">재료</span></label>
          <br />
        </div>
      </div>
    </div>

    <div>
      <h3>타코 이름 입력:</h3>
      <input type="text" th:field="*{name}" th:value="${taco.name}" /> <br />
      <button>타코 저장</button>
    </div>
    </div>
  </form>
</body>

</html>