<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>타코 로그인</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>

<body>
  <h1>타코 구름 위에 로그인하세요.</h1>
  <img th:src="@{/images/TacoCloud.png}" alt="타코 영상" />

  <div th:if="${error}">
    유저네임 혹은 비밀번호가 바르지 않습니다.
  </div>

  <p>새 고객님은<a th:href="@{/register}">등록</a> 후 로그인 하세요.</p>  
  
  <form method="POST" th:action="@{/login}" id="loginForm">
    <label for="username">아이디: </label>
    <input type="text" name="username" id="username" value="user"/><br />

    <label for="password">비밀번호: </label>
    <input type="password" name="password" id="password" value="1234"/><br />
    <input type="submit" value="로그인">
  </form>
  <div>
    <h5>소셜 로그인</h5>
    <table class="table table-striped">
     <tr><td><a th:href="@{/oauth2/authorization/facebook}">페이스북(facebook)</a></td></tr>
     <tr><td><a th:href="@{/oauth2/authorization/github}">깃허브(github)</a></td></tr>
    </table>
  </div>
</body>
</html>