<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>타코 주문</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
	<form method="POST" th:action="@{/orders}" th:object="${tacoOrder}">
		<h1>맛있는 타코를 주문한다</h1>

		<img th:src="@{/images/TacoCloud.png}" />

		<h3>주문되는 타코들:</h3>
		<a th:href="@{/design}" id="another">타코 추가하기</a>
		<br />
		<ul>
			<li th:each="taco : ${tacoOrder.tacos}"><span
					th:text="${taco.name}">타코 이름</span></li>
		</ul>
		
    <h3>타코 배달 주소입니다.</h3>
    <label for="custName">주문자: </label>
    <input type="text" th:field="*{custName}"/>
    <span class ="validationError"
      th:if="${#fields.hasErrors('custName')}"
      th:errors="*{custName}">주문자 이름 오류</span>
    <br/>

    <label for="deliZip">우편번호: </label>
    <input type="text" th:field="*{deliZip}"/>
    <span class ="validationError"
      th:if="${#fields.hasErrors('deliZip')}"
      th:errors="*{deliZip}">우편번호 오류</span>
    <br/>
    
    <label for="deliRoadAddr">도로 주소: </label>
    <input type="text" th:field="*{deliRoadAddr}"/>
    <span class ="validationError"
      th:if="${#fields.hasErrors('deliRoadAddr')}"
      th:errors="*{deliRoadAddr}">신용카드 번호 오류</span>
    <br/>

    <label for="deliDetailAddr">상세 주소: </label>
    <input type="text" th:field="*{deliDetailAddr}"/>
    <span class ="validationError"
      th:if="${#fields.hasErrors('deliDetailAddr')}"
      th:errors="*{deliDetailAddr}">상세 주소 오류</span>
    <br/>
    
    <h3>여기 대금 지불 방법입니다.</h3>
    <label for="ccNumber">신용카드 번호 #: </label>
    <input type="text" th:field="*{ccNumber}"/>
    <span class ="validationError"
      th:if="${#fields.hasErrors('ccNumber')}"
      th:errors="*{ccNumber}">신용카드 번호 오류</span>
    <br/>

    <label for="ccExprYM">만기년월: </label>
    <input type="text" th:field="*{ccExprYM}"/>
    <span class ="validationError"
      th:if="${#fields.hasErrors('ccExprYM')}"
      th:errors="*{ccExprYM}">신용카드 번호 오류</span>
    <br/>

    <label for="ccCvv">CVV: </label>
    <input type="text" th:field="*{ccCvv}"/>
    <span class ="validationError"
      th:if="${#fields.hasErrors('ccCvv')}"
      th:errors="*{ccCvv}">CVV 값 형식 오류</span>
    <br/>

    <input type="submit" value="주문 확인"/>    

	</form>
</body>
</html>