<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>타코 클라우드</title>
</head>

<body>
  <h1>유저 등록</h1>

  <img th:src="@{/images/TacoCloud.png}" />

  <form method="POST" th:action="@{/register}" id="registerForm"
      th:object="${tacoUser}">

    <label for="username">유저이름: </label>
    <input type="text" th:field = "*{username}" /><br />
    
    <label for="password">비밀번호: </label>
    <input type="password" name = "password" th:value="*{password}"/><br />
    
    <label for="confirm">비밀번호 확인: </label>
    <input type="password" name = "confirm" th:value="*{password}"/><br />
    
    <label for="custName">성명: </label>
    <input type="text" th:field = "*{custName}" /><br />
    
    <label for="custZip">Zip: </label>
    <input type="text" th:field = "*{custZip}" /><br />
    
    <label for="roadAddr">도로명 주소: </label>
    <input type="text" th:field = "*{roadAddr}" size="40"/><br />

    <label for="detailAddr">상세 주소: </label>
    <input type="text" th:field = "*{detailAddr}" /><br />
    
    <label for="phoneNumber">전화번호: </label>
    <input type="text" th:field = "*{phoneNumber}" /><br />

    <input type="submit" value="등록" />
  </form>
</body>

</html>