<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>타코 클라우드</title>
</head>

<body>
  <h1>유저 등록</h1>

  <img th:src="@{/images/TacoCloud.png}" />

  <form method="POST" th:action="@{/register}" id="registerForm"
      th:object="${tacoUser}" onsubmit ="return verifyMatchPwd()">

    <label for="username">유저이름: </label>
    <input type="text" th:field = "*{username}" /><br />
    
    <label for="password">비밀번호: </label>
    <input type="password" name = "password" id="password" 
            th:value="*{password}" onKeyUp="return verifyPassword()" />
    <span hidden id = "message" style="color:red">*(비 공백)비밀번호를 넣으세요!
      </span><br />
    <label for="confirm">비밀번호 확인: </label>
    <input type="password" name = "confirm" id="confirm" 
            th:value="*{password}"/><br />
    
    <label for="custName">성명: </label>
    <input type="text" th:field = "*{custName}" /><br />
    
    <label for="custZip">Zip: </label>
    <input type="text" th:field = "*{custZip}" /><br />
    
    <label for="roadAddr">도로명 주소: </label>
    <input type="text" th:field = "*{roadAddr}" size="40"/><br />

    <label for="detailAddr">상세 주소: </label>
    <input type="text" th:field = "*{detailAddr}" /><br />
    
    <label for="phoneNumber">전화번호: </label>
    <input type="text" th:field = "*{phoneNumber}" /><br />

    <input type="submit" value="등록" />
  </form>
  <script>
    function verifyMatchPwd() {
      if (verifyPassword && verifyConfirm()) {
        return true;
      } else {
        return false;
      }
    }
    
    function verifyConfirm() {
      var pwFld = document.getElementById("password");
      var cnfFld = document.getElementById("confirm");
      if (pwFld.value.trim() === cnfFld.value.trim()) {
        return true;
      } else {
        var msgSpan = document.getElementById("message");
        msgSpan.innerText = "*비밀번호 확인이 상이합니다!";
        msgSpan.removeAttribute("hidden");
        pwFld.focus();        
        return false;
      }      
    }
    
    function verifyPassword() {
      var pwFld = document.getElementById("password");
      // 비밀번호 공백이면, 계정 등록 중단. 
      if (pwFld.value.trim() === "") {
        var msgSpan = document.getElementById("message");
        msgSpan.innerText = "*(비 공백)비밀번호를 넣으세요!";
        msgSpan.removeAttribute("hidden");
        pwFld.focus();
        return false;
      } else {
        var msgSpan = document.getElementById("message");
        msgSpan.setAttribute("hidden", "hidden");
        return true;
      }      
    }
  </script>  
</body>
</html>
